<span class="emoji-outer emoji-sizer">
	<span class="emoji-inner" style="background: url(/assets/img/sheet_apple_64_indexed_256colors.png); background-position: {{x}}% {{y}}%; background-size: {{size}}00%" {{title}}>
		:{{emojiId}}:
	</span>
</span>