<div class="message-row">
	<img src="{{user_image}}" />
	<div class="message" id="pl-{{timestamp}}">
		<div class="username">{{user_realname}}</div>
		<div class="time"><a href="#pl-{{timestamp}}">{{time}}</a></div>
		<div class="msg">{{text}}</div>
		{{reactions}}
	</div>
</div>