* {
	font-family:sans-serif;
}
body {
	text-align:center;
	padding:1em;
}

.message-row{
    margin-top: 12px;
}

.messages {
	width:100%;
	max-width:700px;
	text-align:left;
	display:inline-block;
}
.messages img {
	background-color:rgb(248,244,240);
	width:36px;
	height:36px;
	border-radius:0.2em;
	vertical-align:top;
}

.messages .time{
    display:inline-block;
}

.messages .time a {
	
	color:rgb(200,200,200);
	margin-left:0.5em;
    text-decoration: none;
}
.messages .username {
	display:inline-block;
	font-weight:600;
	line-height:1;
}
.messages .message {
	display:inline-block;
	vertical-align:top;
	line-height:1;
	width:calc(100% - 4em);
	padding: 0 0 0 10px;
}
.messages .message .msg {
	line-height:1.5;
	word-wrap: break-word;
}

.messages .message.message-slim  {
	margin-left: 41px;
}

.messages .message .reactions .reaction{
	display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    background: #fff;
    border: 1px solid #E8E8E8;
    margin-right: 4px!important;
    border-radius: 5px;
    padding: 1px 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 1.4rem;
    line-height: 23px;
    font-size: 1pc;
}

.messages .message .reactions .reaction .reaction_count{
	   font-size: 11px;
    font-family: helvetica,arial;
    position: relative;
    top: -4px;
    padding: 0 1px 0 3px;
    color: #959595;
}	

span.emoji {
    -moz-box-orient: vertical;
    display: inline-block;
    overflow: hidden;
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: left;
}

span.emoji-outer{
	display: -moz-inline-box;
    display: inline-block;
    height: 1em;
    width: 1em;
    mmargin-top: -1px;
}

span.emoji-sizer {
    line-height: 18px;
    font-size: 22px;
    vertical-align: middle;
    margin-top: -4px;
}

span.emoji-inner:not(:empty), span.emoji:not(:empty) {
    text-indent: 100%;
    color: transparent;
    text-shadow: none;
}

span.emoji-inner {
    display: -moz-inline-box;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: 4100%!important;
}



.day_divider {
    margin: 2rem 0 0.2rem;
    padding: 0;
    font-size: .9rem;
    line-height: 1rem;
    font-family: Slack-Lato,appleLogo,sans-serif;
    color: #2c2d30;
    font-weight: 700;
    text-align: center;
    cursor: default;
    clear: both;
    position: relative;
}

.day_divider .day_divider_label {
    background: #fff;
    padding: .25rem .75rem;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    border-radius: .25rem;
}

.day_divider .day_divider_label {
    top: -6px;
    border-radius: 1rem;
}

.day_divider_border {
    margin: -21px 0 0;
    padding: 1.75rem 0 0.25rem;
    border-top: 1px solid #e8e8e8;
}